
body {
    margin: 0 0 0 0;
    background-color: ghostwhite;
}

/* containers and alignment */

.bg {
    min-height: 100vw;
}

.bg.light {
    background-color: ghostwhite;
}

.bg.dark {
    background-color: rgb(29, 29, 29);
}

.max-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    position: relative;
}

.horizontal {
    flex-direction: horizontal;
}

.max-width.left {
    justify-content: start;
}

.feed-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.feed {
    width: 100%;
    padding-top: 100px;
}

.content-card {
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content-card.light {
    background-color: white;
}

.content-card.dark {
    background-color: rgb(73, 73, 73);
}

.content-card.comment {
    background-color: rgba(236, 236, 245, 0.75);
}

.post-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* text and links */

.nav-link {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    margin-right: 40px;
    color: #039c8d;
}

a {
    color: #039c8d;
    text-decoration: none;
}

p, a {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: sans-serif;
}

.title {
    font-size: 24px;
    line-height: 40px;
}

p.dark, a.dark, title.dark, .nav-link.dark {
    color: #00d6c1;
}


p.margin-bottom-sm {
    margin-bottom: 16px;
}

p.margin-top-sm {
    margin-top: 16px;
}

span.fade {
    opacity: 0.5;
}

span.fade.dark {
    color: white;
    opacity: 0.65;
}

/* buttons */

.theme-toggler {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    line-height: 32px;
}